<div class="container-fluid">

    <div class="profile">
        <img src="{{ruth.avatar_url}}" alt="">
    </div>
    <div class="about-me">
        <p>Hello, my name is Ruth Mwangi and I'm a Software Developer.I have experience in web development and mobile app development.<br> I am  fully conversant with the following languages  HTML,CSS, Javascript,AngularJS, PHP, Python,C,C++,Java,Android and basic knowledge of C#.<br> I have worked for organizations that provide software solutions to both local and pan african clients in various sectors and was exposed to team projects where I was tasked with development of apps, writing of documentation ,designing of unified modelling languages and presenting deliverables.<br> Additionally I gained skills required in handling projects such as team work, time management  and high quality deliverables required by clients.</p>
    </div>
    
</div>