@font-face{
    font-family: 'p';
    src: url(../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
.profile{
    margin: auto;
    width: 50%;
}
.about-me{
    font-family: 'p';
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: white solid 1px;
    text-align: center;
    background-color: rgba(0, 0, 0,0.67);

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 20%;
}